@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 255, 238);
    text-align: center;
    text-emphasis-color: White;
	animation: gradient 15s ease infinite;
    padding-top: 200pt;
}